Package: python-django-tinymce
Version: 1.5-2
Architecture: all
Maintainer: Daniel Watkins <daniel@daniel-watkins.co.uk>
Installed-Size: 148
Depends: python-support (>= 0.90.0), python-django (>= 1.0), tinymce
Conflicts: python-tinymce
Section: python
Priority: extra
Homepage: http://code.google.com/p/django-tinymce/
Description: replacement text widget for Django web framework
 TinyMCE is a pure JavaScript rich text editor, allowing non-technical users to
 easily enter formatted text. This package allows TinyMCE to be used as an
 alternative widget for text areas, a drop-in replacement, within both the
 Django admin interface and user-facing views.
 .
 Features:
  * Enhanced support for content languages.
  * Integration with the TinyMCE spellchecker.
  * Enables predefined link and image lists for dialogs.
  * Can compress the TinyMCE Javascript code.
  * Integration with django-filebrowser.
